/* form-search container */
.form-search {
  background: rgb(230, 218, 218) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  height:90vh ;
}

/* form name heading */
.form-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* form input label */
.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* form input */
.form-input {
  /* padding: 0.5rem; */
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  /* width: 20rem; */
}

/* form results container */
.form-results {
  max-height: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow-y: scroll;

}

/* form result item */
.form-result {
  padding: 0.5rem;
  cursor: pointer;
}

/* form submit button */
.form-submit {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* form submit button hover */
.form-submit:hover {
  background-color: #0069d9;
}

/* form results container */
.form-results {
  list-style-type: none;
  padding: 30px;
  max-height:490px;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

/* form result item */
.form-result {
  padding: 0.5rem;
  cursor: pointer;
}

/* form submit button */
.form-submit {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* form submit button hover */
.form-submit:hover {
  background-color: #0069d9;
}

/* form checkboxes container */
.form-checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

/* form checkbox label */
.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* form checkbox input */
.form-checkbox input[type="checkbox"] {
  margin-right: 0.5rem;
}

.badge{
  margin: 10px;
  background: #e7d5d5;
}
